#credits-container { /*Contenedor general de la lista con créditos*/
    margin-left: 21%;
    margin-right: 21%;
}

#credits-container ul{
    padding-left: 0%; /*Elimina el padding predeterminadod de ul*/
}

.credit-container { /*Contenedor general del contenido del crédito*/
    margin-left: 0%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    background-color: #1D582E; /*Color provisional para ver el tamaño de los contenedores*/
}

.credit-container img { /*Contenedor de la imagen para manipular más facilmente*/
    height: 180px;
}

.credit-text-container { /*Contenedor de la sección con texto del crédito*/
    padding-left: 30px;
    padding-right: 30px;
}

.credit-name-title { /*Formato del título del nombre del crédito*/
    font-family: 'Russo One';
    font-size: 38px;
    margin: 0;
    margin-top: 10px;
}
 .credit-descripcion {
    font-family: 'Teko';
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
 }