/*Definir aquí el estilo de la página*/
/* CSS de ejemplo de navbar sacado de https://www.w3schools.com/howto/howto_js_topnav.asp*/
html {
  background-color: #4CDEDD; /*Fondo provisional, en el futuro colocar una imagen todo lo guapa*/
}

ul {
  list-style-type: none; /*Quita las bolitas en las listas ul*/
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1D582E;
  overflow: hidden;
  text-align: center;
}
#content {
  padding-top: 70px; /*Mueve el contenido más abajo para que no se superponga con la barra de navegación*/
}
.topnav a {
  position: relative;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 28px;
  margin: 0;
  font-family: 'Bebas Neue'; /*Fuente de google fonts*/
}

.topnav li {
  display: inline;
}

.topnav a:hover { /*Aspecto del botón al pasar el ratón por encima*/
  background-color: #28CB8F;
  color: black;
}

.topnav a.active {
  background-color: #eee;
  color: #0b1f10;
}

.legal-stuff {
  text-align: center;
  padding-inline: 20%;
  font-style: italic;
}

.boton-socials:hover .lista-socials {
  display: block;
}

.lista-socials {
  display: none;

}