html {
  background-color: #4CDEDD;
  /*Fondo provisional, en el futuro colocar una imagen todo lo guapa*/
}

ul {
  list-style-type: none;
  /*Quita las bolitas en las listas ul*/
}

#content {
  padding-top: 70px;
  /*Mueve el contenido más abajo para que no se superponga con la barra de navegación*/
}

/*La barra de navegacion y sus cosillas*/
.topnav {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1D582E;
  overflow: hidden;
  text-align: center;
}

.topnav a {
  position: relative;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 28px;
  margin: 0;
  font-family: "Comic Sans", cursive;
  font-weight: 1000;
  font-style: normal;
}

.topnav li {
  display: inline;
}

.topnav a:hover {
  /*Aspecto del botón al pasar el ratón por encima*/
  background-color: #28CB8F;
  color: black;
}

.topnav a.active {
  background-color: #eee;
  color: #0b1f10;
}

.logo-studio-container {
  float: left;
  position: absolute;
  margin-left: 40px;
}

.logo-studio-container img {
  height: 70px;
}

.usual-text-style {
  /*El estilo de texto basico para descripciones y etc*/
  font-family: "Comic Sans", cursive;
  font-size: 21px;
  color: #000;
}

/*Fuentes*/
@font-face {
  font-family: 'Comic Sans';
  src: url('src/fonts/comic.woff2') format('woff2'),
    url('src/fonts/comic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}